body{background-color: rgb(97, 83, 83)}

.Top{font-size: 50px; color: green; font-weight: bold; font-family: 'Times New Roman', serif}

.all{font-size: 20px; font-weight: 20; font-family: Georgia, 'Times New Roman', Times, serif;}

.First{color: red}

.Second{color: Blue}

.Third{color: gold}

